*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/pexels-cats-coming-1907227.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;


}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;

}
.logo{
    width: 50px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;

}
nav{
    flex: 1;
    text-align: right;
   
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}



nav ul li:hover{
    transform: translateX(-10px);
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13 px;
}
nav ul li a:active{
    color: gold;
}

label{
    color: white;
    
}

.logInForm{
text-align: center;
padding-top: 30px;
padding-bottom: 90px;
}
input{
    border-radius: 5px;

}
label{
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
   
}
input{
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 5px;
    border:3px solid sandybrown;
}
#submit{
    background-color: sandybrown;
}
/* qitu */ 

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.footer{
    background: black;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    width: 100%;
    color: white;
  
    
  
  }
  .footer img{
    width: 20px;
    height: 20px;
  }